body{
    background-color: hotpink;
}

#container{
    width: 500px;
    height: 300px;
    margin-top: 300px;
    text-align: center;
}

#title{
    color: #fff;
}

#sub-container{
    width: 100%;
    height: 300px;
    background-color: #fff;
    border: 6px solid deeppink;
    border-radius: 20px;
}

#input-group{
    margin-top: 10px;
}

#list-group{
    padding-top:20px;
}

#input-area{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#button{
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: purple;
    color: #fff;
}